.post {
    display: flex;
    background: skyblue;
    margin-bottom: 1em;
}

.avatar {
    align-self: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: auto;
}

.text {
    max-width: 80%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    background: aquamarine;
    padding: 1em;
    border-radius: 15px;
}