:root {
    --primary-color: #2c3e50; /* Основной цвет */
    --secondary-color: #e74c3c; /* Вторичный цвет */
    --accent-color: #3498db; /* Акцентный цвет */
    --background-color: #f2f2f2; /* Цвет фона */
    --text-color: #333; /* Цвет текста */
}

.nav {
    grid-area: n;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px;
    font-size: 2em;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
}
