:root {
    --primary-color: #2c3e50; /* Основной цвет */
    --secondary-color: #e74c3c; /* Вторичный цвет */
    --accent-color: #3498db; /* Акцентный цвет */
    --background-color: #f2f2f2; /* Цвет фона */
    --text-color: #333; /* Цвет текста */
}


.dialogs {
    display: flex;
    padding: 20px;
    margin: 20px auto 20px auto;
    font-size: 30px;
}

.dialogsItem {
    display: flex;
    flex-direction: column;
    background-color: #2c3e50;
    padding: 20px;
    margin: 20px;
}

.dialogsItem a {
    color: white;
    padding: 20px;
}

.message {
    display: flex;
    flex-direction: column;
    background-color: #2c3e50;
    padding: 20px;
    margin: 20px;
    color: white;
}
